@charset "utf-8";
/* CSS Document */

/* ---------------------------------- Каркас сайта ----------------------------------- */

/* Каркас */

body {
    background-color: #000000;
    padding: 15px;
}

/* ------------------------------ Концовка Каркас сайта ------------------------------ */

/* ==================================================================================================== */

/* ------------------------------ Оформление текста ------------------------------ */

/* Текс */

p {
    color: #808080;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 25px;
    font-weight: normal;

}

h2 {
    text-align: center;
}

/* Концовка Текс */

label {
    display: inline-block;
    width: 5em;
}

img {
    border: none;
}

/* -------------------------- Концовка Оформление текста ------------------------- */

/* ==================================================================================================== */
