@charset "utf-8";
/* CSS Document */

/* ------------------------------ Бегущая строка ----------------------------- */
.marquee {
    line-height: 20px;

    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;

    -webkit-border-radius: 8px; /* Safari and Chrome */
    -moz-border-radius: 8px; /* Firefox */
    border-radius: 8px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
    behavior: url(pie/PIE.htc); /* Для IE. This lets IE know to call the script on all elements which get the 'box' class */
}

.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 25s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

/* -------------------------- Концовка Бегущей строки------------------------- */
