/* Боковые картинки-ссылки */

#arrow {
    display: none;
}

#message {
    display: none;
}

/* концовка Боковые картинки-ссылки */


/* Угловая картинка-ссылка */

#new {
    display: none;
}

/* концовка Угловая картинка-ссылка */
